
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_SirketLayout.cshtml";
}

<h2>Anasayfaya Hoşgeldiniz!</h2>

<div class="anasayfa">
    <div class="anasayfa row">
        <div class="col-xs-6">
            <p>Hoşgeldiniz
            </p>

        </div>

        <div class="col-xs-6 anasayfa-img">
            <img src="~/IMG/alfaromeo.png" />
        </div>
    </div>
</div>