
@{
    ViewBag.Title = "ArabaDetay";
    Layout = "~/Views/Shared/_SirketLayout.cshtml";
}

<h2>ArabaDetay</h2>

<div class="arabalar row">

    <div class="arabalar-edit">
        <a href="@Url.Action("Anasayfa", "Index")">
            <i class="fas fa-map-marked"></i>
            .arabaSehir
        </a>
    </div>


    <div class="arabalar-img col-sm-4">
        <img src="~/Img/alfaromeo.png" class="rounded" alt="Cinque Terre">
    </div>

    <div class="arabalar-bilgi col-sm-8">
        <div class="row">
            <div class="araba-markamodel col-md-8">
                .arabaMarka .arabaModel
            </div>
        </div>

        <div class="araba-ozellikler row">
            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/manual-transmission.png" title="Vites Tipi" />
                <p>.arabaVitesTuru</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/airbag.png" title="Airbag" />
                <p>.arabaAirbag</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/circular-line-with-word-age-in-the-center.png" title="Minimum Yaş Sınırı" />
                <p>.arabaYasSiniri</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/gas-pump.png" title="Yakıt Tipi" />
                <p>.arabaYakitTuru</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/suitcase.png" title="Bagaj Hacmi" />
                <p>.arabaBagajHacmi</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/license.png" title="Gerekli Minimum Ehliyet Yaşı" />
                <p>.arabaEhliyetYasi</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/KM-1.png" />
                <p>.arabaEhliyetYasi</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/KM-2.png" />
                <p>.arabaEhliyetYasi</p>
            </div>

            <div class="araba-ozellik col-xs-4">
                <img src="~/Img/TL.png" />
                <p>.arabaEhliyetYasi</p>
            </div>
        </div>

    </div>

    <div class="btn-kirala">
        <button class="btn btn-warning">Güncelle</button>
    </div>
</div>