
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<div class="anasayfa row">
    <div class="col-xs-6">
        <p>Hoşgeldin <br /> Zehra Uzun</p>
        
    </div>

    <div class="col-xs-6 anasayfa-img">
        <img src="~/IMG/alfaromeo.png" />
    </div>
</div>