
@{
    ViewBag.Title = "SirketGiris";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>SirketGiris</h2>
<div class="row login-css">
    @using (Html.BeginForm("SirketGiris", "Kullanici", FormMethod.Post))
    {
        <div class="login col-xs-4">
            <form action="/action_page.php">
                <div class="form-group login-input">
                    <input type="email" class="form-control" placeholder="Şirket Mail" name="sirketMail">
                </div>

                <div class="form-group  login-input">
                    <input type="password" class="form-control" placeholder="Enter password" name="sirketSifre">
                </div>
                <button type="submit" class="btn btn-primary kayit">Giriş Yap</button>
            </form>
        </div>
    }
    <div class="login-admin col-xs-8">
        <h3>Rent A Car</h3>
        <hr />

        <h5>Şirket Giriş</h5>
    </div>
</div>