.anasayfa{
    flex: 1;
    border-radius: 25px;
    background-color: white;
    padding: 1%;
}

.anasayfa-img{
    float: right;
    height: 500px;
}

.anasayfa-img img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.anasayfa p{
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
}

.kiralama {
    flex: 1;
    border-radius: 25px;
    background-color: white;
    padding: 1%;
}