@{
    ViewBag.Title = "SirketOnay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SirketOnay</h2>
@foreach (var item in Model)
{
    <div class="kullanici-onay">
        <h4>@item.sirketAd</h4>
        <h6>05/01/2022</h6>
        <p>Şirket Mail : @item.sirketMail</p>
        <p>Şirket Şehir : @item.sirketSehir</p>
        <div class="btn-kullanici-onaylama">
            <a href="/Admin/sirketKabul/@item.sirketID" class="btn btn-success">Onayla</a>
            <a href="/Admin/sirketRed/@item.sirketID" class="btn btn-danger">Sil</a>
        </div>
    </div>
}