
@{
    ViewBag.Title = "KiralamaOnay";
    Layout = "~/Views/Shared/_SirketLayout.cshtml";
}

<h2>KiralamaOnay</h2>

<div class="kullanici-onay row">
    <div class="araba-bilgileri col-xs-6">
        <h4>Araba Marka Model</h4>
        <p>Alış Yeri - Alıs Tarihi - Alış Saati</p>
        <p>Teslim Yeri - Teslim Tarihi - Teslim Saati</p>
        <p>Kiralanmak İstenen Gün Sayısı : 6</p>
        <p>Alınacak Toplam Ücret : 250</p>
        <div class="btn-kullanici-onaylama">
            <button class="btn btn-warning">Araba Detay</button>
        </div>
    </div>

    <div class="kullanici-bilgileri col-xs-6">
        <h4>Kullanıcı Adı Soyadı</h4>
        <h6>12.06.2021</h6>
        <p>Kullanıcı Mail : zehra-zehrauzun.com</p>
        <p>Kullanıcı TC : 145898785</p>
        <p>Kullanıcı Telefon : 05436225536</p>
        <p>Kullanıcı Ehliyet Yaşı: 2</p>
        <div class="btn-kullanici-onaylama">
            <button class="btn btn-success">Onayla</button>
            <button class="btn btn-danger">Reddet</button>
        </div>
    </div>
</div>


